= form_for @wash do |f|
  - if @wash.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wash.errors.count, "error")} prohibited this wash from being saved:"
      %ul
        - @wash.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      =f.hidden_field :vehicle_id, value: @wash.vehicle.id
  .form-group
    .field
      The Total Cost will be
      =@wash.charge
  .form-group
    .actions
      = f.submit 'Save', id: 'Save', class: 'btn btn-default'
