= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :plate
      = f.text_field :plate
  .form-group
    .field
      = f.label :style
      = f.select :style, [ ['Car', :car], ['Truck', :truck] ]
  .form-group
    .field
      = f.label :mud_in_bed
      = f.check_box :mud_in_bed
  .form-group
    .field
      = f.label :bed_up
      = f.check_box :bed_up
  .form-group
    .actions
      = f.submit 'Save', id: 'Save', class: 'btn btn-default'
