%h1 Listing vehicles

%p Select a car that you would like to wash.

%table
  %thead
    %tr
      %th Plate
      %th Style
      %th Mud in bed
      %th Bed up
      %th
      %th
      %th

  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= link_to vehicle.plate, vehicle
        %td= vehicle.style
        %td= vehicle.mud_in_bed
        %td= vehicle.bed_up
        %td= link_to 'Edit', edit_vehicle_path(vehicle)
        %td= link_to 'Destroy', vehicle, :method => :delete, id: 'destroy'

%br

%p
New customer or Don't see your car here?
= link_to "Add it", new_vehicle_path
