%p#notice= notice

%p
  %b Plate:
  = @vehicle.plate
%p
  %b Style:
  = @vehicle.style
%p
  %b Mud in bed:
  = @vehicle.mud_in_bed
%p
  %b Bed up:
  = @vehicle.bed_up

= link_to 'Wash', new_vehicle_wash_path(@vehicle) if @vehicle.bed_up
\|
= link_to 'Edit', edit_vehicle_path(@vehicle)
\|
= link_to 'Back', vehicles_path

%hr

%h3 Transaction History

%table.table
  %thead
    %tr
      %th Date
      %th Charge

  %tbody
    - @vehicle.washes.each do |wash|
      %tr
        %td= link_to wash.created_at.strftime("%m/%d/%Y"), wash
        %td= wash.charge
