= form_for @charge do |f|
  - if @charge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@charge.errors.count, "error")} prohibited this charge from being saved:"
      %ul
        - @charge.errors.full_messages.each do |msg|
          %li= msg
  .field
    =f.hidden_field :vehicle_id, value: @charge.vehicle.id
  .field
    The Total Cost will be
    =@charge.charge

  .actions
    = f.submit 'Save', id: 'Save'
